<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recomendaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <section class="ion-padding">
    <article *ngIf="!recommendations">
      <h3>Obteniendo recomendaciones...</h3>
      <ion-spinner name="dots">
      </ion-spinner>
    </article>
    <ion-list [inset]="true">
      <ion-card *ngFor="let track of recommendations">
        <ion-card-header>
          <ion-card-title>{{track.title}}</ion-card-title>
          <ion-card-subtitle>{{track.artist}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div>
            <strong>
              {{track.year}}
            </strong>
          </div>
          {{track.reason}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </section>
</ion-content>