<section *ngIf="logged">
  <article>
    <h2 *ngIf="userData">Bienvenido {{userData}}</h2>
    <ion-button (click)="logout()">
      Cerrar sesión
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </article>
</section>

<section *ngIf="!logged">
  <article *ngIf="formValidationLogin">
    <form class="form" [formGroup]="formValidationLogin"
      (ngSubmit)="showLogin ? tryLogin(formValidationLogin.value) : trySignup(formValidationLogin.value)">
      <h2 *ngIf="showLogin">Inicio de sesión</h2>
      <h2 *ngIf="!showLogin">Registro</h2>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating" color="primary">Email: </ion-label>
          <ion-input type="text" aria-label="Email: " formControlName="email"
            (keyup.enter)="tryLogin(formValidationLogin.value)"></ion-input>
        </ion-item>
        <div>
          <ng-container *ngFor="let validation of formValidationMessages.email">
            <div class="error-message"
              *ngIf="formValidationLogin?.get('email')?.hasError(validation.type) && (formValidationLogin.get('email')?.dirty || formValidationLogin.get('email')?.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating" color="primary">Contraseña: </ion-label>
          <ion-input type="password" aria-label="Contraseña: " formControlName="password"
            (keyup.enter)="tryLogin(formValidationLogin.value)"></ion-input>
        </ion-item>
        <div>
          <ng-container *ngFor="let validation of formValidationMessages.password">
            <div class="error-message"
              *ngIf="formValidationLogin.get('password')?.hasError(validation.type) && (formValidationLogin.get('password')?.dirty || formValidationLogin.get('password')?.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="div-button-login">
        <ion-button *ngIf="showLogin" type="submit" [disabled]="!formValidationLogin.valid">Iniciar sesión</ion-button>
        <ion-button *ngIf="!showLogin" type="submit" [disabled]="!formValidationLogin.valid">Crear cuenta</ion-button>
      </div>
      <div class="div-label-error">
        <ion-label class="error-message">{{ errorMessage }}</ion-label>
      </div>
    </form>
    <footer>
      <div *ngIf="showLogin">
        ¿No tienes cuenta? <a href="#" (click)="toggleLogin()">Crear Cuenta</a>
      </div>
      <div *ngIf="!showLogin">
        ¿Ya tienes cuenta? <a href="#" (click)="toggleLogin()">Inicia sesión</a>
      </div>
    </footer>
  </article>
</section>