ion-card {
    height: 100%;
}

ion-img {
    aspect-ratio: 1/1;
}

#container {
    display: flex;
    // height: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#info {
    display: grid;
    align-items: center;
    max-width: 450px;
}

#info>div {
    display: flex;
}

#info>p {
    padding: 15px;
}

#main-info>div {
    background-color: black;
    height: fit-content;
    width: fit-content;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
}

#main-info {
    display: flex;
    margin: 20px 0;
    gap: 10px;
}

#artist {
    display: flex;
}

comments {
    display: flex;
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}

#artist {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 600px) {
    #container {
        flex-direction: column;
    }
}